@font-face {
  font-family: 'icons';
  font-style: normal;
  font-weight: normal;
  src: url('icons.eot?55645420');
  src: url('icons.eot?55645420#iefix') format('embedded-opentype'),
       url('icons.woff2?55645420') format('woff2'),
       url('icons.woff?55645420') format('woff'),
       url('icons.ttf?55645420') format('truetype'),
       url('icons.svg?55645420#icons') format('svg');
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-family: "icons";
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1em;
  margin-left: .2em;
  margin-right: .2em;
  speak: none;
  text-align: center;
  text-decoration: inherit;
  text-transform: none;
  width: 1em;
}

.icon-save:before { content: '\e800'; }
.icon-new:before { content: '\e801'; }
.icon-checked:before { content: '\e802'; }
.icon-close:before { content: '\e803'; }
.icon-settings:before { content: '\e804'; }
.icon-box:before { content: '\f096'; }
.icon-left:before { content: '\f104'; }
.icon-right:before { content: '\f105'; }
.icon-open:before { content: '\f115'; }
