html, body {
    font-family: 'Source Sans Pro';
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
    font-size: 1.2rem;
    height: 100%;
    line-height: 1.4rem;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    background-color: rgb(240, 240, 240);
    user-select: none;
}

body.dark {
    background-color: rgb(40, 40, 40);
    color: rgba(255, 255, 255, .7);
}

header {
    -webkit-app-region: drag;
    background-image: linear-gradient(to bottom, rgb(250, 250, 250) 50%, transparent);
    color: rgba(0, 0, 0, .4);
    height: 2.5em;
    left: 0;
    padding: 5px;
    position: fixed;
    right: 0;
    text-align: center;
    top: 0;
}

.dark header {
    background-image: linear-gradient(to bottom, rgb(50, 50, 50) 50%, transparent);
    color: rgba(255, 255, 255, .7);
}

#close {
    -webkit-app-region: no-drag;
}

header span {
    float: right;
}

section {
    height: 100%;
    margin-top: 2.5em;
    padding: 0 1em 1em 1em;
}

a {
    color: rebeccapurple;
}

section div {
    margin-bottom: .5em;
}

#about {
    text-align: center;
}

#about img {
    height: 96px;
}

